@using WebApplication6.ViewModels
@model KomentarIndexVM
@{
    ViewData["Title"] = "KorisnikIndex";
    Layout = "_Layout";
    string error_poruka = (string)TempData["ErrorMessage"];

}
<head>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"> Pocetna </li>

    <li class="breadcrumb-item ">

        Recenzije
    </li>
    <li class="breadcrumb-item active">

        Kometari
    </li>
</ol>

<div class="w3-panel w3-leftbar w3-border-blue">
    @if (Model.ProsjecnaOcjena > 0)
    {
        <p style="font-size:18px"> Prosjecna ocjena za uposlenika @Model.Korisnik je <strong>@Model.ProsjecnaOcjena</strong></p>
    }
    else
    {
        <p style="font-size:18px"> Trenutno nema evidentiranih ocjena.</p>

    }
</div>
<br />


<h6> Komentari</h6>
<div>
    @if (error_poruka != null)
    {
        <br />
        <div class="alert alert-danger">
            @error_poruka
        </div>
    }
</div>
<hr />
<div id="ajaxDiv"></div>
<br />
<div class="container" style="background-color:lightgray">


    @foreach (var k in Model.rows)
    {

        <div class="card">
            <div class="card-body">


                <strong style="font-size:18px">@k.Klijent               </strong> <br />

                <span style="font-size:12px">  @k.DatumKreiranja.ToShortDateString()</span><br />

                <p style="font-size:15px">@k.TekstKomentara</p>
                <a style="float:right;text-decoration:underline; color:dodgerblue" asp-action="UkloniKomentar" asp-route-id="@k.KomentarId">Ukloni komentar</a>
            </div>
        </div>
        <hr />


    }


</div>


